﻿@using Web.Models
@model HomeIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<b>
    @Html.DisplayNameFor(model => model.CurrentTimestamp) @Model.CurrentTimestamp.ToString("HH':'mm' 'dd'.'MM'.'yyyy")
</b>

<h4>Temperatuur [<sup>o</sup> C]</h4>
<table class="table table-bordered" style="max-width:500px">

    <tr>
        <td width="50%">
            @Html.DisplayNameFor(model => model.CurrentOutsideTemperature)
        </td>
        <td width="25%">
            @Model.CurrentOutsideTemperature
        </td>
        <td width="25%">
            @Html.ActionLink("graafik", "Index", "Graph", new GraphFilters(1, "Outside" ))
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CurrenSecondFloorTemperature)
        </td>
        <td>
            @Model.CurrenSecondFloorTemperature
        </td>
        <td rowspan="3">
            @Html.ActionLink("graafik", "Index", "Graph", new GraphFilters(1, "SecondFloor,FirstFloor,Basement"))
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CurrenFistFloorTemperature)
        </td>
        <td>
            @Model.CurrenFistFloorTemperature
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CurrentBasementTemperature)
        </td>
        <td>
            @Model.CurrentBasementTemperature
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CurrenSaunaTemperature)
        </td>
        <td>
            @Model.CurrenSaunaTemperature
        </td>
        <td>
            @Html.ActionLink("graafik", "Index", "Graph", routeValues: new GraphFilters(1, "Sauna"))
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CurrenHeaterTemperature)
        </td>
        <td>
            @Model.CurrenHeaterTemperature
        </td>
        <td>
            @Html.ActionLink("graafik", "Index", "Graph", new GraphFilters(1,"Boiler"))
        </td>
    </tr>


</table>

<h4>Õhuniiskus [% rel]</h4>
<table class="table table-bordered" style="max-width: 500px">
    <tr>
        <td width="50%">
            @Html.DisplayNameFor(model => model.CurrenSecondFloodHumidity)
        </td>
        <td width="25%">
            @Model.CurrenSecondFloodHumidity
        </td>
        <td width="25%" rowspan="2">
            graafik
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.CurrenBasementHumidity)
        </td>
        <td>
            @Model.CurrenBasementHumidity
        </td>
    </tr>
</table>



@*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@